---

const pageTitle = "Homepage";
---
<html lang="it">
	<head>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
	</head>
		<body>
			<a href="/">Home</a>
			<a href="/about/">About</a>
			<a href="/blog/">Blog</a>
	
			<h1>Benvenuti in <span class="text-gradient">{pageTitle}</span></h1>
			<p class="instructions">
				Per iniziare, apri la directory <code>src/pages</code> nel tuo progetto.<br />
				<strong>Sfida di coding:</strong> Modifica il messagggio "Welcome to Astro" qua sopra.
			</p>
		</body>
</html>
